
/* google font use */
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared common style */
.btn-one {
    background-color: #4E47FF;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
}
.blc-one {
    color: #252432;
}
.txt-clr {
    color:rgba(36, 36, 50, 50%);
}

.txt-clr2 {
    color: #4E47FF;
}
.sec-one {
    width: 1140px;
    height: 328px;
    margin: 100px 130px;
}
 /* Header style start  */

 .hed-bg {
    background-image: url(Assets/Hero-bg.png);
 }
 header.hed-bg {
    text-align: center;
}
/* nav-bar style start */
nav.nav-bar {
    display: flex;

    align-items: center;
    justify-content: space-between;
    margin: 0px 150px 20px 150px;
}

nav h1 {
        
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}
button.btn-one {
    width: 132px;
    height: 42px;
}
.hed-text {
    width: 903px;
    height: 120px;
    text-align: center;
}
.heder-last {
    
    padding-bottom: 86px;
    
    margin-top: 40px;
}
.heder-last h2 {
    font-size: 60px;
    font-weight: 800px;
}
/* main style start here */
/* action style */
.sec-one {
    width: 1140px;
    height: 328px;
}
section.sec-one {
    display: flex;

    margin: 40px;
    justify-content: space-around;
    align-items: center;
}
 button.btn-one.three {
    width: 160px;
}
img {
    border-radius: 48px;
}
p.action-descip.txt-clr {
    width: 60%;
}
/* users section design */
.users-con {
    display: flex;
    /* gap: 50px; */
    justify-content:space-around;
    align-items: center;

}
.user-sec {
    width: 1140px;
    height: 306px;
    background-color: rgba(78, 71, 255, 10%);
    border-radius: 24px;
    margin: 35px 106px;
}

h3.user-title {
    text-align: center;
    padding-top: 45px;
}
h1.clr{
    text-align: center;
    margin: 25px 0px;
    font-family: fantasy;
    font-weight: 800;
    color: #4E47FF;
    font-size: 60px;
}
/* user reveow items */


h2.usr-tit {
    text-align: center;
    /* margin: 16px 0px; */
    padding: 20px 0px;
}

.revew-container {
    display: flex;
}

.rev-con {
    width: 320px;
    height: 244px;
    background-color: #f2e8e880;
    border-radius: 25px;
    margin: 0px 20px;
    padding: 5px 10px;
}

.imge-cont {
    display: flex;
    
    gap: 19px;
    align-items: center;
}
section.user-sec.sey {
    background-color: white;
}
